<div class="main jumbotron bg-dark text-white">
  <div class="center main-content container text-center">
    <div class='main-title'>
      <h1 class="font-weight-bold">Hi There!</h1>I'm <b>Diego</b></h1>
    </div>
    <div class="main-cta">
      <p> I develop web applications to solve<br />
        business / customer problems
      </p>
        <a href="#" role="button" class="btn btn-light px-5">View my Work</a>
    </div>
  </div>
</div>
